@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Rubik", sans-serif;
}

img{
    @apply block;
}

.nav__menu.toggle{
    @apply right-0;
}

.nav__item{
    @apply py-4 border-t uppercase border-gray-500;
}

.nav__link{
    @apply text-lg tracking-widest transition duration-300 motion-reduce:transition-none text-gray-50;
}

.nav__link:hover{
    @apply text-red-500;
}

@media (min-width: 48rem) {
    .nav__item{
        @apply border-t-0 py-0;
    }

    .nav__link{
        @apply text-sm text-blue-950;
    }
}

/* Features tab */
@layer components{
    .tab{
        @apply relative border-t border-gray-300 py-4.5 text-gray-500 text-xl transition md:border-t-0 md:text-lg;
    }

    .tab.focus{
        @apply border-0 outline-0;
    }

    .tab::after{
        @apply absolute content-[""] bottom-0 w-36 -translate-x-1/2 left-1/2 h-1 bg-transparent md:w-full;
    }

    .tab.active{
        @apply text-gray-700;
    }
    .tab.active::after{
        @apply bg-red-600;
    }

    .tabs{
        @apply flex flex-col md:flex-row md:justify-between md:items-center md:border-b md:border-gray-300 md:w-[40rem] md:m-auto md:mt-10;
    }

    .tab__content{
        @apply hidden;
    }

    .tab__content.active{
        @apply block md:flex md:items-center md:justify-center md:gap-12 md:max-w-[80rem] mx-auto;
    }
}

.accordion{
    @apply hidden;
}

.accordion.toggle{
    @apply block;
}

.fa-angle-up{
    @apply text-red-600;
}

@layer utilities{
    .hero__illustration {
        position: relative;
        background-image: url('../images/illustration-hero.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 94%;
        width: 100%;
        height: 71vw;
        max-width: 37.5rem;
        max-height: 26.625rem;
        margin: 0 auto;
    }

    .hero__illustration::before{
        position: absolute;
        content: "";
        top: clamp(4.5rem,15vw,5.625rem);
        left: 21vw;
        width: 100vw;
        height: 52vw;
        max-height: 20.25rem;
        z-index: -1;
    }
    
    @media (min-width: 48rem){
        .hero__illustration{
            width: 50%;
            background: none;
        }

        .hero__illustration::before{
            top: clamp(9.875rem,4vw,5rem);
            left: 13vw;
            height: 23vw;
        }

        .hero__illustration::after{
            position: absolute;
            content: "";
            top: 6.25rem;
            left: 0.6875rem;
            background-image: url('../images/illustration-hero.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        @media (min-width: 64rem){
            .hero__illustration::before{
                height: 25vw;
            }

            .hero__illustration::after{
                top: 4.0625rem;
            }
        }
    }
}

@layer components{
    .features__tab{
        @apply relative;
    }

    .features__tab::before{
        content: "";
        position: absolute;
        top: clamp(4.125rem,17vw,6.5625rem);
        right: 18vw;
        width: 100vw;
        height: 54vw;
        max-height: 18.75rem;
        z-index: -1;
    }

    @media (min-width: 48rem){
        .features__tab::before{
            top: 3.4375rem;
            right: 12vw;
            height: 26vw;
            max-height: 23.75rem;
        }
    }
}